
@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS08-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS08-ExtendedHeavyItalic.TTF') format('truetype');
}
